<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abdecd.novelbackend.business.mapper.NovelAndTagsMapper">
    <select id="getRelatedList" resultType="com.abdecd.novelbackend.business.pojo.entity.NovelInfo">
        WITH novel AS (
            SELECT ni.id, ni.title, ni.author, ni.cover, ni.description
            FROM (
                     SELECT nat.tag_id
                     FROM novel_and_tags nat
                     WHERE nat.novel_id = #{novelId}
                 ) tid
                JOIN novel_and_tags nat ON tid.tag_id = nat.tag_id
                JOIN novel_info ni on ni.id = nat.novel_id
            WHERE ni.id != #{novelId}
        )
        SELECT novel.id, novel.title, novel.author, novel.cover, novel.description
        FROM novel
        ORDER BY RAND()
        LIMIT 3
    </select>
</mapper>