<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abdecd.novelbackend.business.mapper.ReaderFavoritesMapper">
    <insert id="insertBatch">
        INSERT INTO reader_favorites (user_id, novel_id)
            VALUES
        <foreach collection="novelIds" item="novelId" separator=",">
            (#{userId}, #{novelId})
        </foreach>
    </insert>
    <select id="listReaderFavoritesVO"
            resultType="com.abdecd.novelbackend.business.pojo.vo.reader.ReaderFavoritesVO">
        SELECT rf.id, rf.novel_id
        FROM reader_favorites rf
        <where>
            <if test="userId != null">
                and rf.user_id = #{userId}
            </if>
            <if test="startId != null">
                and rf.id &lt;= #{startId}
            </if>
        </where>
        limit #{pageSize}
    </select>
</mapper>