<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abdecd.novelbackend.business.mapper.ReaderHistoryMapper">
    <select id="listReaderHistoryVO"
            resultType="com.abdecd.novelbackend.business.pojo.vo.reader.ReaderHistoryVO">
        SELECT rh.id, rh.novel_id, rh.volume_number, rh.chapter_number, rh.timestamp
               ni.title as novelTitle, ni.author, ni.cover,
               nc.title as chapterTitle
        FROM reader_history rh
        LEFT JOIN novel_info ni ON rh.novel_id = ni.id
        LEFT JOIN novel_chapter nc ON rh.novel_id = nc.novel_id AND rh.volume_number = nc.volume_number AND rh.chapter_number = nc.chapter_number
        <where>
            <if test="userId != null">
                and rh.user_id = #{userId}
            </if>
            <if test="startId != null">
                and rh.id &lt;= #{startId}
            </if>
            and status = #{enableStatus}
        </where>
        limit #{pageSize}
    </select>
    <select id="getRankList" resultType="com.abdecd.novelbackend.business.pojo.entity.NovelInfo">
        SELECT ni.id, ni.title, ni.author, ni.cover, ni.description
        from (
            SELECT rh.novel_id, COUNT(1) as count
            FROM reader_history rh
            WHERE rh.timestamp &gt;= #{startTime} and rh.timestamp &lt; #{endTime}
            GROUP BY rh.novel_id
            ORDER BY count DESC
            limit 100
        ) as t1
        LEFT JOIN novel_info ni ON t1.novel_id = ni.id
    </select>
    <select id="getRankListByTagName" resultType="com.abdecd.novelbackend.business.pojo.entity.NovelInfo">
        WITH novels AS (
            SELECT nat.novel_id
            FROM novel_tags nt
                 JOIN novel_and_tags nat ON nt.id = nat.tag_id
            WHERE nt.tag_name = #{tagName}
        )
        SELECT ni.id, ni.title, ni.author, ni.cover, ni.description
        FROM (
             SELECT rh.novel_id, COUNT(1) as count
             FROM novels
                 JOIN reader_history rh ON novels.novel_id = rh.novel_id
             WHERE rh.timestamp &gt;= #{startTime} and rh.timestamp &lt; #{endTime}
             GROUP BY rh.novel_id
             ORDER BY count DESC
             limit 100
         ) as t1
         LEFT JOIN novel_info ni ON t1.novel_id = ni.id
    </select>
    <select id="getRandomRankList" resultType="com.abdecd.novelbackend.business.pojo.entity.NovelInfo">
        SELECT ni.id, ni.title, ni.author, ni.cover, ni.description
        FROM novel_info ni
        ORDER BY RAND()
        LIMIT 100
    </select>
    <select id="getRandomRankListByTagName"
            resultType="com.abdecd.novelbackend.business.pojo.entity.NovelInfo">
        WITH t1 AS (
            SELECT nat.novel_id
            FROM novel_tags nt
                 JOIN novel_and_tags nat ON nt.id = nat.tag_id
            WHERE nt.tag_name = #{tagName}
        )
        SELECT ni.id, ni.title, ni.author, ni.cover, ni.description
        FROM (
                SELECT t1.novel_id
                FROM t1
                ORDER BY RAND()
                LIMIT 100
            ) novels
            LEFT JOIN novel_info ni ON novels.novel_id = ni.id
    </select>
    <select id="getReaderFavoriteTagIds" resultType="java.lang.Integer">
        SELECT nat.tag_id
        FROM (SELECT novel_id
              FROM reader_history rh
              WHERE rh.user_id = #{userId}) t1
                 LEFT JOIN novel_and_tags nat ON t1.novel_id = nat.novel_id
        GROUP BY nat.tag_id
        ORDER BY COUNT(nat.tag_id) DESC
        LIMIT 3
    </select>
    <select id="getRandomRecommendListByTagId" resultType="com.abdecd.novelbackend.business.pojo.entity.NovelInfo">
        WITH t1 AS (
            SELECT nat.novel_id
            FROM novel_and_tags nat
            <where>
                <if test="tagId != null">
                    AND nat.tag_id = #{tagId}
                </if>
            </where>
        )
        SELECT ni.id, ni.title, ni.author, ni.cover, ni.description
        FROM (
                SELECT t1.novel_id
                FROM t1
                WHERE t1.novel_id >= FLOOR((SELECT MAX(novel_id) FROM t1)-(SELECT MIN(novel_id) FROM t1)) * RAND() + (SELECT MIN(novel_id) FROM t1)
                LIMIT #{count}
            ) t2
            LEFT JOIN novel_info ni ON t2.novel_id = ni.id
    </select>
    <select id="getRandomRecommendList" resultType="com.abdecd.novelbackend.business.pojo.entity.NovelInfo">
        SELECT ni.id, ni.title, ni.author, ni.cover, ni.description
        FROM novel_info ni
        WHERE ni.id >= FLOOR(RAND() * 10 * ( SELECT MAX( id ) FROM novel_info ))
        LIMIT #{count}
    </select>
</mapper>